In [1]:
import numpy as np
import pandas as pd

In [7]:
dict1 = {
    "name": ["Gaurav", "Saurabh"],
    "age": [19,23]
}

In [8]:
dict1

{'name': ['Gaurav', 'Saurabh'], 'age': [19, 23]}

In [4]:
name, age = input().split(" ")

Gaurav age

In [5]:
print(name,age)

Gaurav age

In [9]:
df = pd.DataFrame(dict1)

In [10]:
df

      name  age
0   Gaurav   19
1  Saurabh   23

In [12]:
df.to_csv("friends.csv", index=False)

In [13]:
df.head()

      name  age
0   Gaurav   19
1  Saurabh   23

In [14]:
df.describe()

             age
count   2.000000
mean   21.000000
std     2.828427
min    19.000000
25%    20.000000
50%    21.000000
75%    22.000000
max    23.000000

In [31]:
dataset =  pd.read_csv('friends.csv')

In [32]:
dataset

      name  age
0   Gaurav   19
1  Saurabh   23

In [37]:
dataset["age"][0]=27

In [38]:
dataset

      name age
0     Guru  27
1  Saurabh  23

In [39]:
dataset.to_csv("friends.csv", index=False)

In [41]:
data = pd.DataFrame(np.random.rand(20,5))

In [42]:
data.head()

          0         1         2         3         4
0  0.316360  0.494290  0.612483  0.466920  0.711542
1  0.948089  0.677059  0.781265  0.118078  0.560039
2  0.104881  0.089931  0.339347  0.909332  0.689275
3  0.952628  0.947810  0.016023  0.870753  0.424638
4  0.498140  0.320800  0.638210  0.635467  0.114294

In [43]:
data.describe()

               0          1          2          3          4
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.549542   0.545682   0.526034   0.624523   0.448423
std     0.347021   0.275520   0.308309   0.325224   0.314441
min     0.006130   0.088088   0.016023   0.056954   0.007076
25%     0.299987   0.321799   0.246882   0.388239   0.138498
50%     0.460470   0.644805   0.625346   0.727638   0.392609
75%     0.930345   0.710900   0.778609   0.877936   0.723068
max     0.992409   0.959207   0.940347   0.975689   0.961133

In [44]:
data

           0         1         2         3         4
0   0.316360  0.494290  0.612483  0.466920  0.711542
1   0.948089  0.677059  0.781265  0.118078  0.560039
2   0.104881  0.089931  0.339347  0.909332  0.689275
3   0.952628  0.947810  0.016023  0.870753  0.424638
4   0.498140  0.320800  0.638210  0.635467  0.114294
5   0.420927  0.959207  0.940347  0.705436  0.138529
6   0.086356  0.669108  0.777724  0.812070  0.251864
7   0.006130  0.352755  0.850342  0.913898  0.813764
8   0.690166  0.311494  0.249606  0.152193  0.007076
9   0.250871  0.088088  0.813661  0.123176  0.664321
10  0.952388  0.706878  0.386208  0.936745  0.134550
11  0.325602  0.322133  0.082631  0.873163  0.961133
12  0.992409  0.722966  0.238710  0.056954  0.221072
13  0.916462  0.706513  0.912955  0.121600  0.185607
14  0.952603  0.441085  0.702940  0.975689  0.828321
15  0.689601  0.142818  0.679745  0.892256  0.757645
16  0.408705  0.733307  0.045172  0.686847  0.360580
17  0.422801  0.620503  0.735398  0.679643  0.880583
18  0.131299  0.672022  0.573805  0.749840  0.138405
19  0.924430  0.934882  0.144113  0.810405  0.125222

In [45]:
type(data)

pandas.core.frame.DataFrame

In [47]:
newData = data.to_numpy()

In [48]:
newData.T

array([[0.3163596 , 0.94808904, 0.10488092, 0.95262813, 0.49813977,
        0.4209275 , 0.0863558 , 0.00612973, 0.69016594, 0.25087072,
        0.95238777, 0.32560175, 0.9924088 , 0.91646177, 0.95260257,
        0.68960073, 0.40870468, 0.4228008 , 0.13129869, 0.92443037],
       [0.49429013, 0.67705856, 0.08993072, 0.94781023, 0.32079958,
        0.95920749, 0.66910792, 0.35275483, 0.31149381, 0.08808812,
        0.70687755, 0.32213257, 0.7229665 , 0.70651303, 0.44108536,
        0.14281794, 0.73330686, 0.62050268, 0.67202213, 0.93488195],
       [0.61248294, 0.78126517, 0.33934725, 0.01602261, 0.6382097 ,
        0.94034684, 0.77772383, 0.85034208, 0.24960616, 0.81366109,
        0.3862084 , 0.08263107, 0.23870956, 0.91295544, 0.70293952,
        0.67974546, 0.04517221, 0.73539777, 0.57380547, 0.14411344],
       [0.46692047, 0.11807807, 0.90933204, 0.87075342, 0.63546698,
        0.70543634, 0.81207046, 0.91389762, 0.15219301, 0.12317588,
        0.93674547, 0.87316346, 0.05695415, 0.1215996 , 0.97568866,
        0.89225557, 0.68684695, 0.67964253, 0.74984019, 0.81040459],
       [0.71154187, 0.56003917, 0.68927495, 0.4246383 , 0.11429375,
        0.13852896, 0.25186441, 0.81376388, 0.00707624, 0.6643212 ,
        0.13455031, 0.96113269, 0.22107202, 0.18560657, 0.82832117,
        0.75764499, 0.36058001, 0.8805828 , 0.13840468, 0.12522195]])

In [52]:
newData[0][0]

0.31635960496733273

In [53]:
newData2 = newData.copy()

In [54]:
newData2

array([[0.3163596 , 0.49429013, 0.61248294, 0.46692047, 0.71154187],
       [0.94808904, 0.67705856, 0.78126517, 0.11807807, 0.56003917],
       [0.10488092, 0.08993072, 0.33934725, 0.90933204, 0.68927495],
       [0.95262813, 0.94781023, 0.01602261, 0.87075342, 0.4246383 ],
       [0.49813977, 0.32079958, 0.6382097 , 0.63546698, 0.11429375],
       [0.4209275 , 0.95920749, 0.94034684, 0.70543634, 0.13852896],
       [0.0863558 , 0.66910792, 0.77772383, 0.81207046, 0.25186441],
       [0.00612973, 0.35275483, 0.85034208, 0.91389762, 0.81376388],
       [0.69016594, 0.31149381, 0.24960616, 0.15219301, 0.00707624],
       [0.25087072, 0.08808812, 0.81366109, 0.12317588, 0.6643212 ],
       [0.95238777, 0.70687755, 0.3862084 , 0.93674547, 0.13455031],
       [0.32560175, 0.32213257, 0.08263107, 0.87316346, 0.96113269],
       [0.9924088 , 0.7229665 , 0.23870956, 0.05695415, 0.22107202],
       [0.91646177, 0.70651303, 0.91295544, 0.1215996 , 0.18560657],
       [0.95260257, 0.44108536, 0.70293952, 0.97568866, 0.82832117],
       [0.68960073, 0.14281794, 0.67974546, 0.89225557, 0.75764499],
       [0.40870468, 0.73330686, 0.04517221, 0.68684695, 0.36058001],
       [0.4228008 , 0.62050268, 0.73539777, 0.67964253, 0.8805828 ],
       [0.13129869, 0.67202213, 0.57380547, 0.74984019, 0.13840468],
       [0.92443037, 0.93488195, 0.14411344, 0.81040459, 0.12522195]])

In [55]:
newData2[0][0]=0

In [56]:
newData2

array([[0.        , 0.49429013, 0.61248294, 0.46692047, 0.71154187],
       [0.94808904, 0.67705856, 0.78126517, 0.11807807, 0.56003917],
       [0.10488092, 0.08993072, 0.33934725, 0.90933204, 0.68927495],
       [0.95262813, 0.94781023, 0.01602261, 0.87075342, 0.4246383 ],
       [0.49813977, 0.32079958, 0.6382097 , 0.63546698, 0.11429375],
       [0.4209275 , 0.95920749, 0.94034684, 0.70543634, 0.13852896],
       [0.0863558 , 0.66910792, 0.77772383, 0.81207046, 0.25186441],
       [0.00612973, 0.35275483, 0.85034208, 0.91389762, 0.81376388],
       [0.69016594, 0.31149381, 0.24960616, 0.15219301, 0.00707624],
       [0.25087072, 0.08808812, 0.81366109, 0.12317588, 0.6643212 ],
       [0.95238777, 0.70687755, 0.3862084 , 0.93674547, 0.13455031],
       [0.32560175, 0.32213257, 0.08263107, 0.87316346, 0.96113269],
       [0.9924088 , 0.7229665 , 0.23870956, 0.05695415, 0.22107202],
       [0.91646177, 0.70651303, 0.91295544, 0.1215996 , 0.18560657],
       [0.95260257, 0.44108536, 0.70293952, 0.97568866, 0.82832117],
       [0.68960073, 0.14281794, 0.67974546, 0.89225557, 0.75764499],
       [0.40870468, 0.73330686, 0.04517221, 0.68684695, 0.36058001],
       [0.4228008 , 0.62050268, 0.73539777, 0.67964253, 0.8805828 ],
       [0.13129869, 0.67202213, 0.57380547, 0.74984019, 0.13840468],
       [0.92443037, 0.93488195, 0.14411344, 0.81040459, 0.12522195]])

In [59]:
data.loc[0,0] = 4

In [60]:
data

           0         1         2         3         4
0   4.000000  0.494290  0.612483  0.466920  0.711542
1   0.948089  0.677059  0.781265  0.118078  0.560039
2   0.104881  0.089931  0.339347  0.909332  0.689275
3   0.952628  0.947810  0.016023  0.870753  0.424638
4   0.498140  0.320800  0.638210  0.635467  0.114294
5   0.420927  0.959207  0.940347  0.705436  0.138529
6   0.086356  0.669108  0.777724  0.812070  0.251864
7   0.006130  0.352755  0.850342  0.913898  0.813764
8   0.690166  0.311494  0.249606  0.152193  0.007076
9   0.250871  0.088088  0.813661  0.123176  0.664321
10  0.952388  0.706878  0.386208  0.936745  0.134550
11  0.325602  0.322133  0.082631  0.873163  0.961133
12  0.992409  0.722966  0.238710  0.056954  0.221072
13  0.916462  0.706513  0.912955  0.121600  0.185607
14  0.952603  0.441085  0.702940  0.975689  0.828321
15  0.689601  0.142818  0.679745  0.892256  0.757645
16  0.408705  0.733307  0.045172  0.686847  0.360580
17  0.422801  0.620503  0.735398  0.679643  0.880583
18  0.131299  0.672022  0.573805  0.749840  0.138405
19  0.924430  0.934882  0.144113  0.810405  0.125222

In [65]:
data.columns = list("ABCDE")

In [72]:
data.loc[0,"A"] = 65

In [74]:
data["A"][0]=66

In [76]:
data.loc[1,"B"] = 101

In [78]:
data["B"][1] = 102

In [79]:
data

            A           B         C         D         E
0   66.000000    0.494290  0.612483  0.466920  0.711542
1    0.948089  102.000000  0.781265  0.118078  0.560039
2    0.104881    0.089931  0.339347  0.909332  0.689275
3    0.952628    0.947810  0.016023  0.870753  0.424638
4    0.498140    0.320800  0.638210  0.635467  0.114294
5    0.420927    0.959207  0.940347  0.705436  0.138529
6    0.086356    0.669108  0.777724  0.812070  0.251864
7    0.006130    0.352755  0.850342  0.913898  0.813764
8    0.690166    0.311494  0.249606  0.152193  0.007076
9    0.250871    0.088088  0.813661  0.123176  0.664321
10   0.952388    0.706878  0.386208  0.936745  0.134550
11   0.325602    0.322133  0.082631  0.873163  0.961133
12   0.992409    0.722966  0.238710  0.056954  0.221072
13   0.916462    0.706513  0.912955  0.121600  0.185607
14   0.952603    0.441085  0.702940  0.975689  0.828321
15   0.689601    0.142818  0.679745  0.892256  0.757645
16   0.408705    0.733307  0.045172  0.686847  0.360580
17   0.422801    0.620503  0.735398  0.679643  0.880583
18   0.131299    0.672022  0.573805  0.749840  0.138405
19   0.924430    0.934882  0.144113  0.810405  0.125222

In [80]:
data.drop("E", axis=1)

            A           B         C         D
0   66.000000    0.494290  0.612483  0.466920
1    0.948089  102.000000  0.781265  0.118078
2    0.104881    0.089931  0.339347  0.909332
3    0.952628    0.947810  0.016023  0.870753
4    0.498140    0.320800  0.638210  0.635467
5    0.420927    0.959207  0.940347  0.705436
6    0.086356    0.669108  0.777724  0.812070
7    0.006130    0.352755  0.850342  0.913898
8    0.690166    0.311494  0.249606  0.152193
9    0.250871    0.088088  0.813661  0.123176
10   0.952388    0.706878  0.386208  0.936745
11   0.325602    0.322133  0.082631  0.873163
12   0.992409    0.722966  0.238710  0.056954
13   0.916462    0.706513  0.912955  0.121600
14   0.952603    0.441085  0.702940  0.975689
15   0.689601    0.142818  0.679745  0.892256
16   0.408705    0.733307  0.045172  0.686847
17   0.422801    0.620503  0.735398  0.679643
18   0.131299    0.672022  0.573805  0.749840
19   0.924430    0.934882  0.144113  0.810405

In [81]:
data

            A           B         C         D         E
0   66.000000    0.494290  0.612483  0.466920  0.711542
1    0.948089  102.000000  0.781265  0.118078  0.560039
2    0.104881    0.089931  0.339347  0.909332  0.689275
3    0.952628    0.947810  0.016023  0.870753  0.424638
4    0.498140    0.320800  0.638210  0.635467  0.114294
5    0.420927    0.959207  0.940347  0.705436  0.138529
6    0.086356    0.669108  0.777724  0.812070  0.251864
7    0.006130    0.352755  0.850342  0.913898  0.813764
8    0.690166    0.311494  0.249606  0.152193  0.007076
9    0.250871    0.088088  0.813661  0.123176  0.664321
10   0.952388    0.706878  0.386208  0.936745  0.134550
11   0.325602    0.322133  0.082631  0.873163  0.961133
12   0.992409    0.722966  0.238710  0.056954  0.221072
13   0.916462    0.706513  0.912955  0.121600  0.185607
14   0.952603    0.441085  0.702940  0.975689  0.828321
15   0.689601    0.142818  0.679745  0.892256  0.757645
16   0.408705    0.733307  0.045172  0.686847  0.360580
17   0.422801    0.620503  0.735398  0.679643  0.880583
18   0.131299    0.672022  0.573805  0.749840  0.138405
19   0.924430    0.934882  0.144113  0.810405  0.125222

In [82]:
data.iloc[:2, :2]

           A          B
0  66.000000    0.49429
1   0.948089  102.00000

In [83]:
data.loc[(data['A']<0.3)]

           A         B         C         D         E
2   0.104881  0.089931  0.339347  0.909332  0.689275
6   0.086356  0.669108  0.777724  0.812070  0.251864
7   0.006130  0.352755  0.850342  0.913898  0.813764
9   0.250871  0.088088  0.813661  0.123176  0.664321
18  0.131299  0.672022  0.573805  0.749840  0.138405

In [85]:
data

            A           B         C         D         E
0   66.000000    0.494290  0.612483  0.466920  0.711542
1    0.948089  102.000000  0.781265  0.118078  0.560039
2    0.104881    0.089931  0.339347  0.909332  0.689275
3    0.952628    0.947810  0.016023  0.870753  0.424638
4    0.498140    0.320800  0.638210  0.635467  0.114294
5    0.420927    0.959207  0.940347  0.705436  0.138529
6    0.086356    0.669108  0.777724  0.812070  0.251864
7    0.006130    0.352755  0.850342  0.913898  0.813764
8    0.690166    0.311494  0.249606  0.152193  0.007076
9    0.250871    0.088088  0.813661  0.123176  0.664321
10   0.952388    0.706878  0.386208  0.936745  0.134550
11   0.325602    0.322133  0.082631  0.873163  0.961133
12   0.992409    0.722966  0.238710  0.056954  0.221072
13   0.916462    0.706513  0.912955  0.121600  0.185607
14   0.952603    0.441085  0.702940  0.975689  0.828321
15   0.689601    0.142818  0.679745  0.892256  0.757645
16   0.408705    0.733307  0.045172  0.686847  0.360580
17   0.422801    0.620503  0.735398  0.679643  0.880583
18   0.131299    0.672022  0.573805  0.749840  0.138405
19   0.924430    0.934882  0.144113  0.810405  0.125222

In [88]:
data.drop("A",axis=1)

             B         C         D         E
0     0.494290  0.612483  0.466920  0.711542
1   102.000000  0.781265  0.118078  0.560039
2     0.089931  0.339347  0.909332  0.689275
3     0.947810  0.016023  0.870753  0.424638
4     0.320800  0.638210  0.635467  0.114294
5     0.959207  0.940347  0.705436  0.138529
6     0.669108  0.777724  0.812070  0.251864
7     0.352755  0.850342  0.913898  0.813764
8     0.311494  0.249606  0.152193  0.007076
9     0.088088  0.813661  0.123176  0.664321
10    0.706878  0.386208  0.936745  0.134550
11    0.322133  0.082631  0.873163  0.961133
12    0.722966  0.238710  0.056954  0.221072
13    0.706513  0.912955  0.121600  0.185607
14    0.441085  0.702940  0.975689  0.828321
15    0.142818  0.679745  0.892256  0.757645
16    0.733307  0.045172  0.686847  0.360580
17    0.620503  0.735398  0.679643  0.880583
18    0.672022  0.573805  0.749840  0.138405
19    0.934882  0.144113  0.810405  0.125222

In [89]:
data

            A           B         C         D         E
0   66.000000    0.494290  0.612483  0.466920  0.711542
1    0.948089  102.000000  0.781265  0.118078  0.560039
2    0.104881    0.089931  0.339347  0.909332  0.689275
3    0.952628    0.947810  0.016023  0.870753  0.424638
4    0.498140    0.320800  0.638210  0.635467  0.114294
5    0.420927    0.959207  0.940347  0.705436  0.138529
6    0.086356    0.669108  0.777724  0.812070  0.251864
7    0.006130    0.352755  0.850342  0.913898  0.813764
8    0.690166    0.311494  0.249606  0.152193  0.007076
9    0.250871    0.088088  0.813661  0.123176  0.664321
10   0.952388    0.706878  0.386208  0.936745  0.134550
11   0.325602    0.322133  0.082631  0.873163  0.961133
12   0.992409    0.722966  0.238710  0.056954  0.221072
13   0.916462    0.706513  0.912955  0.121600  0.185607
14   0.952603    0.441085  0.702940  0.975689  0.828321
15   0.689601    0.142818  0.679745  0.892256  0.757645
16   0.408705    0.733307  0.045172  0.686847  0.360580
17   0.422801    0.620503  0.735398  0.679643  0.880583
18   0.131299    0.672022  0.573805  0.749840  0.138405
19   0.924430    0.934882  0.144113  0.810405  0.125222

In [92]:
data.isnull()

        A      B      C      D      E
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
5   False  False  False  False  False
6   False  False  False  False  False
7   False  False  False  False  False
8   False  False  False  False  False
9   False  False  False  False  False
10  False  False  False  False  False
11  False  False  False  False  False
12  False  False  False  False  False
13  False  False  False  False  False
14  False  False  False  False  False
15  False  False  False  False  False
16  False  False  False  False  False
17  False  False  False  False  False
18  False  False  False  False  False
19  False  False  False  False  False

In [93]:
data.dropna()

            A           B         C         D         E
0   66.000000    0.494290  0.612483  0.466920  0.711542
1    0.948089  102.000000  0.781265  0.118078  0.560039
2    0.104881    0.089931  0.339347  0.909332  0.689275
3    0.952628    0.947810  0.016023  0.870753  0.424638
4    0.498140    0.320800  0.638210  0.635467  0.114294
5    0.420927    0.959207  0.940347  0.705436  0.138529
6    0.086356    0.669108  0.777724  0.812070  0.251864
7    0.006130    0.352755  0.850342  0.913898  0.813764
8    0.690166    0.311494  0.249606  0.152193  0.007076
9    0.250871    0.088088  0.813661  0.123176  0.664321
10   0.952388    0.706878  0.386208  0.936745  0.134550
11   0.325602    0.322133  0.082631  0.873163  0.961133
12   0.992409    0.722966  0.238710  0.056954  0.221072
13   0.916462    0.706513  0.912955  0.121600  0.185607
14   0.952603    0.441085  0.702940  0.975689  0.828321
15   0.689601    0.142818  0.679745  0.892256  0.757645
16   0.408705    0.733307  0.045172  0.686847  0.360580
17   0.422801    0.620503  0.735398  0.679643  0.880583
18   0.131299    0.672022  0.573805  0.749840  0.138405
19   0.924430    0.934882  0.144113  0.810405  0.125222